
.home {
    color: #316685;
    margin-top: 20px;
    
}
.home .blogs-container{
      text-decoration: none;
      list-style: none;
      width: 100%;
      padding: 0;

  }

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card h3{
    text-align: left;
  }
.header-section{
  display: flex;
  align-items: center;
}

.header-section h5{
  padding: 0 10px 0 0;
}
  .user-interaction{
    padding: 10px;
  }

  .user-interaction .fa{
    padding: 0px 10px;
    cursor: pointer;
    font-size: 18px;
  }
  .user-interaction .fa:hover{
    padding: 0px 10px;
    cursor: pointer;
    font-size: 20px;
    color: #0c00b4;
  }
  .right-section{
    padding: 0;
    margin: 0;
  }
  .right-side{
    margin: 0;
  }
  .right-side button{
    background-color: #0c00b4; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .right-side button:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: #facd60;
  }
  .sorting-buttons{
    display: flex;
    justify-content: center;
  }

  /* right side content */
  .sorted-contsiner{
    list-style: none;
    text-align: center;
    padding: 20px;
  }
  .sorted-items{
    border-bottom: 1px solid #1ac0c6;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
  }
  .sorted-items:hover{
    border-bottom: 2px solid #facd60;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
  }

.read-more{
  color: #0c00b4;
  font-weight: bold;
  cursor: pointer;
}